<div class="absolute" style="margin-left: 2rem;"><a href="/"><button
      class="rounded-full border p-4"
    >Back to Notes</button></a></div>
<form action="/new" method="post" class="text-center mt-10">
  <input
    type="text"
    id="note-title"
    name="noteTitle"
    placeholder="Note Title"
    class="p-4 border rounded-[40px]"
  />
  <br />
  <input
    type="text"
    id="note-content"
    name="noteContent"
    placeholder="Note Content"
    class="p-4 border rounded-[40px] mt-4 pb-[200px]"
  />
  <br />
  <button
    type="submit"
    class="mt-4 border p-4 rounded-[40px] bg-orange-700 text-white"
  >
    Submit
  </button>
</form>
{{#each notesArray}}
  <div class="container mx-auto">
    <div class="p-6 border rounded-[40px] mt-4 container mx-auto">
      {{#each this}}
        {{#if @index}}
          <p>Note Content: {{this}}</p>
        {{else}}
          <p>Note Title: {{this}}</p>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/each}}